<div class="topnav">
  <a  routerLink="/">Home</a>
  <a  routerLink="/timeline">Timeline</a>
  <a  class="active" routerLink="/customtimeline">CustomTimeLine</a>
  <div class="login-container">
      <a *ngIf=!restApiService.userLoggedIn (click)="loginUser()"> Login</a>
      <a *ngIf=restApiService.userLoggedIn (click)="logoutUser()"> Logout</a>
  </div>
</div>

<div *ngIf="restApiService.userLoggedIn && restApiService.tweets.length > 0">
  <label >Enter the tag to search</label><br>
  <input [(ngModel)]="searchHashTag">
  <p>List of avaialble tags in {{restApiService.userDetails.name}} timeline</p>
  <ul class="tags">
    <li *ngFor="let hashTag of hashTags">{{hashTag}}</li>
  </ul>
</div>

<div *ngIf="restApiService.userLoggedIn && restApiService.tweets.length > 0">
  <div *ngFor="let tweet of restApiService.tweets | filter: searchHashTag" class="tweets">
    <li>Posted time: {{tweet.date | date:'medium'}}</li>
    <li>Location: {{tweet.location}}</li>
    <li>Name: {{tweet.name}}</li>
    <!-- <a href="{{tweet.srcUrl}}">Tweet Link</a> -->
  </div>
</div>

