
<div class="topnav">
  <a class="active"  routerLink="/">Home</a>
  <div class="login-container">
    <a *ngIf="!restApiService.userLoggedIn" (click)="loginUser()"> Login</a>
    <a *ngIf="restApiService.userLoggedIn" (click)="logoutUser()"> Logout</a>
  </div>
</div>


<div *ngIf="restApiService.userLoggedIn" class="bottom-containter">
  <div class="welcome-text">
    <p>Welcome {{userDetails.name}}!!! You have successfully logged in</p>
  </div>
  <nav>
    <div class="topnav">
      <a class="active"  routerLink="/timeline">Timeline</a>
      <a class="active"  routerLink="/customtimeline">Custom Timeline</a>
    </div>  
  </nav>
</div>




