
<div class="topnav">
  <a class="active"  routerLink="/">Home</a>
  <a  routerLink="/">Dummy</a>
  <a  routerLink="/">Dummy</a>
  <div class="login-container">
      <a *ngIf=!loggedIn (click)="loginUser()"> Login</a>
      <a *ngIf=loggedIn (click)="logoutUser()"> Logout</a>
  </div>
</div>


<div *ngIf=loggedIn class="bottom-containter">
  {{userDetails.name}} has been successfully logged in
  <nav>
    <ul>
      <li><a routerLink="/timeline">timeline</a></li>
      <li><a routerLink="/customtimeline">customtimeline</a></li>
    </ul>
  </nav>
</div>
